body{
    background-image:url(https://static.vecteezy.com/system/resources/previews/000/539/843/non_2x/red-or-orange-brick-wall-backgroud-vector-illustration.jpg);
}

*{
    font-family: 'Russo One', sans-serif;
    
   
}

.conteiner-princ{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(74, 71, 75);
    width: 600px;
    margin: auto;
    margin-top: 75px;
    padding: 30px;
    border-radius: 5%;
    
}

.imagen-arriba{
    display: flex;

}
.img{
    object-fit: cover;
    width: 100px;
    height: 75px;
    margin-bottom: 10px;
}

.conteiner-texto{
    box-sizing: border-box;
    padding: 7px;
    width: 100%;
    background-color: rgb(74, 71, 75);
}

.conteiner-formulario{

    box-sizing: border-box;
    background-color: rgb(74, 71, 75);
    padding: 15px;   
}


.form-section {
    margin-bottom: 7px;
    margin-right: auto;
}

.form-text{
    width: 100%;
}
.form-email{
    width: 100%;
}
.form-section{
    min-width: 100%;
}