.cuerpo{
    
}

.articulo-princ{

    border-radius: 3%;
    width: 700px;
    box-sizing: border-box;
    background-color: rgb(98, 98, 99);
    padding: 30px;
    margin: auto;
    margin-top: 20px;

}

.redes-soc{
    border-radius: 3%;
    width: 700px;
    box-sizing: border-box;
    background-color: rgb(98, 98, 99);
    padding: 30px;
    margin: auto;
    margin-top: 20px;
}

.copyright {
    border-radius: 3%;
    width: 700px;
    box-sizing: border-box;
    background-color: rgb(98, 98, 99);
    padding: 30px;
    margin: auto;
    margin-top: 20px;
}
